.button--random {
    /* Colors */
    color: white;
    border: 2px solid white;
    background-color: #001C57;
    /* Margins and padding */
    /* padding: 4em 0.5em;
    margin: 0 2em; */
    /* button styling */
    border-radius: 15px;
    height: 150px;
    width: 200px;
    font-size: larger;    
}

.button--random:visited, .button--random:link {
    color: white;
    text-decoration: none;
}

.button--random:hover {
    text-decoration: underline;
    background-color: #002c8b;
}