.nav__bar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  border: outset #4e5766;
  background-color: #4e5766;
}

.nav__bar img {
  display: flex;
  justify-content: center;
  width: 20%;
}

.nav__country a {
  display: flex;
  justify-content: center;
}
