.nav__bar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-style: outset;
    border-color: #1a1d22;
    background-color: #1a1d22;
}
  
.nav__bar img {
    /* Margins and padding */
    width: 20%;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;

    /* Other */
    transition: scale 1s 1s;
}

.nav__bar a {
  transition: background-color 1s 1s;
}

.nav__bar a:hover img {
  transform: scale(1.2);
}

.nav__bar a:hover a{
  background-color: white;
}

  
.nav__country a {
    display: flex;
    justify-content: center;
}